<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class='second-div'>
    <div class='contentbox' style='width:60%; height:55%'>


        <h4>LOG-OUT</h4>
        <p>Are you sure, you want to log-out?</p>
        <br>

        <form action="" method="POST" class="password-change">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-info custom-btn btn-sm">Log Out</button>
        </form>


        
    </div>
</div>
{% endblock %}
